<div class="flex justify-between items-center mb-4">
  <h2 class="text-xl font-semibold">Historial de Ventas</h2>
</div>

<table mat-table [dataSource]="sales()" class="w-full">
  <ng-container matColumnDef="clientFullName">
    <th mat-header-cell *matHeaderCellDef>Cliente</th>
    <td mat-cell *matCellDef="let item">{{ item.clientFullName }}</td>
  </ng-container>

  <ng-container matColumnDef="itemName">
    <th mat-header-cell *matHeaderCellDef>Articulo</th>
    <td mat-cell *matCellDef="let item">{{ item.itemName }}</td>
  </ng-container>

  <ng-container matColumnDef="storeName">
    <th mat-header-cell *matHeaderCellDef>Tienda</th>
    <td mat-cell *matCellDef="let item">{{ item.storeName }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let item">$ {{ item.price }}</td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Fecha</th>
    <td mat-cell *matCellDef="let item">{{ item.date | date: 'medium' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
